body {
    font-family: 'Press Start 2P', monospace;
    font-size: 50%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
}

#info-user {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    top: 0;
    right: 0;
    background-color: rgb(202, 50, 50);
    color: white;
    border-radius: 6px;
    font-size: large;
    margin-right: 10px;
    margin-top: 10px;
    padding: 20px;
    gap: 20px;
    border: 3px solid black;
}

#bt-perfil {
    width: 100%;
}

#fundo_inicio {
    top: 0;
}

#jogo,
section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

button {
    font-family: 'Press Start 2P', monospace;
}

section {
    display: none;
}

h1 {
    color: white;
    margin-top: 0;
    text-align: center;
    font-size: 2.5em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.botao:hover {
    background-color: #f39c12;
    color: white;
    box-shadow: 0 7px 0 0 #d35400;
}

.botao:active {
    box-shadow: 0 2px 0 0 #d35400;
}

#jogo {
    background-image: url(/Cenários/0.\ início.png);
}

#cidade {
    background-image: url(/Cenários/1.\ Cidade.png);
}

#floresta {
    background-image: url(/Cenários/2.\ Floresta.png);
}

#deserto {
    background-image: url(/Cenários/4.\ Deserto.png);
}

#montanha {
    background-image: url(/Cenários/6.\ Montanha.png);
}

#praia {
    background-image: url(/Cenários/8.\ Mar.png);
}

#casaassombrada {
    background-image: url(/Cenários/10.\ Casa\ Assombrada.png);
}

#lendarios {
    background-image: url(/Cenários/10.\ Casa\ Assombrada.png);
}

#florestadeserto {
    background-image: url(/Cenários/3.\ Floresta\ trans.\ para\ Deserto.png);
}

#desertomontanha {
    background-image: url(/Cenários/5.\ Deserto\ trans.\ para\ Montanha.png);
}

#montanhapraia {
    background-image: url(/Cenários/7.\ Montanha\ trans.\ para\ Mar.png);
}

#praiacasa {
    background-image: url(/Cenários/9.\ Mar\ trans.\ para\ Casa\ Assombrada.png);
}

#fimjogo {
    background-image: url(/Cenários/11.\ final.png);
}

.botaojogar {
    width: 100%;
    margin-bottom: 3vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 101;
}

.botoes {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    position: fixed;
    bottom: 0;
    gap: 20px;
    margin-bottom: 4vh;
    z-index: 101;
    width: 100vw;
}

.botao {
    padding: 12px 25px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #f1c40f;
    color: #333;
    border: 3px solid #e67e22;
    border-radius: 10px;
    box-shadow: 0 5px 0 0 #e67e22;
}

section .botaoavancar {
    display: none;
}

.btn-start {
    width: 20%;
    margin: 0 !important;
    padding: 15px 0;
}

.locais {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(202, 50, 50);
    padding: 10px;
    height: auto;
    border-radius: 6px;
    border: 3px solid black;
}

#interface {
    width: 80vw;
    height: 10vh;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: rgb(202 50 50 / 90%);
    z-index: 100;
    padding: 20px;
    padding-left: 20vw;
    border: 3px solid black;
}

#img_skin_user {
    height: 20vh;
    width: 20vh;
    border: 3px solid black;
    background-color: #bbaaaa;
}

#nome_barra {
    background-color: rgb(161, 4, 4);
}

#barralateral {
    position: fixed;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 15vw;
    height: 35vh;
    margin-right: 0;
    background-color: rgb(202 50 50);
    border: 3px solid black;
    border-top-right-radius: 25px;
    z-index: 102;
    flex-direction: column;
}

.escondido {
    display: none;
}

#interfaceinicio {
    width: 100vw;
    height: 10vh;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: rgb(202, 50, 50);
    z-index: 100;
    padding: 20px;
}

.status {
    position: fixed;
    top: 25vh;
    right: 8vw;
    color: black;
    background-color: rgb(225, 225, 225);
    border: 10px solid rgb(202, 50, 50);
    border-width: 3px;
    border-radius: 15px;
    padding: 15px 0 15px 15px;
    width: 200px;
    height: 150px;
    z-index: 200;
}

.pokemon {
    display: flex;
    justify-content: center;
    width: 65%;
    height: 65%;
    margin-bottom: 20%;
}

/* -----------------------------------LOJA--------------------------------------- */
#loja {
    display: none;
    background-color: #f39c12;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#info_item_loja {
    display: flex;
    justify-content: space-around;
    justify-self: center;
    width: 50vw;
    margin-top: 40px;
}

#caixa-loja {
    display: flex;
    align-self: center;
    height: 15vh;
    margin-bottom: 2%;
    margin-top: 2%;
}

.img-item {
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 6px;
    background-color: antiquewhite;
}

#descricao-loja {
    display: flex;
    flex-flow: column;
    color: black;
    border: 1px solid black;
    padding: 1%;
    border-radius: 6px;
    width: 50%;
    background-color: antiquewhite;
    font-family: 'Press Start 2P', monospace;
    font-size: 125%;
}

#btn-loja-compra {
    margin-top: 40px;
}

#botoes-loja {
    display: flex;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    margin-bottom: 4vh;
    gap: 20px;
    z-index: 150;
}

.tistulo {
    height: 4vh !important;
}

/* ---------------------------------Diálogo com os pokemons--------------------------------------------- */

.caixadialogo-inline {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 30vh;
    display: flex !important;
    align-items: stretch;
    justify-content: space-between;
    gap: 12px;
    padding: 12px;
    box-sizing: border-box;
    background: rgb(202, 50, 50);
    border: 3px solid black;
    z-index: 150;
}


.caixadialogo-inline .mensagens {
    min-width: 0;
    display: flex;
    flex-direction: column;
    padding-right: 8px;
    text-align: left;
    line-height: 0.5;
}

#mensagens {
    font-size: 10px;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    border: 3px solid black;
    padding: 10px;
    background-color: rgb(218, 202, 202);
    border-radius: 8px;
    line-height: 0.5;
    overflow-y: auto;
}

#opcoes {
    display: flex;
    width: 40vw;
    flex-direction: column;
    gap: 10px;
    align-items: stretch;
}

.caixadialogo-inline .opcoes {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px;
    flex-wrap: nowrap;
    width: 100%;
}


.caixadialogo-inline #btnFecharDialogo {
    align-self: center;
    margin-top: 6px;
    padding: 6px 12px;
    flex: 0 0 auto;
}

/*--------------------------------------------------------------PERFIL-------------------------------------- */
#perfil {
    display: none;
    flex-flow: column;
    height: 100vh;
    width: 100vw;
    background-color: #d35400;
}

#titulo-perfil {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#coisas-perfil {
    display: flex;
    flex-flow: row;
}

#fundo-inventario {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 70vw;
    height: 80vh;
}

.item {
    height: 15vh;
    width: 15vh;
    background-color: #bbaaaa;
    border: 3px solid black;
    margin-bottom: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.img-inv {
    height: 10vh;
    width: 10vh;
}

#invh1 {
    font-size: medium;
    height: 20px !important;
}

#inventario {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-left: 40px;
    margin-bottom: 60px;
    width: 50vh;
    height: 75vh;
    padding: 3px;
    border: 1px solid black;
    background-color: #d4a000;
}

#btn-perfil {
    margin-right: 30px;
}

#info {
    display: none;
    color: black;
    border: 1px solid black;
    padding: 1%;
    border-radius: 6px;
    width: 40%;
    margin: 0 auto;
    background-color: antiquewhite;
    font-family: 'Press Start 2P', monospace;
    font-size: 15px;
}

#skins {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
    background-color: #d4a000;
    border: 1px solid black;
    width: 30vw;
    height: 70vh;
    padding: 20px;
}

#img_skins {
    margin-top: 20px;
    border: 4px solid black;
    background-color: #bbaaaa;
    padding: 20px;
    height: 40vh;
    width: 40vh;
}

#btn_skins {
    margin-bottom: 20px;
}

#h1_skin {
    padding: 20px;
}

/*-------------------------------------------------MINIGAME-----------------------------------------------------------*/

#minigame {
    display: none;
    align-items: center;
    flex-flow: column;
    height: 100vh;
    background-color: #f39c12;
}

#poke-mn {
    border: 5px solid black;
    border-radius: 6px;
    background-color: #d35400;
    height: 70vh;
}

#img-pk-mn {
    height: 65vh;
    width: 65vh;
}

#pk_pt {
    margin-top: 50px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    width: 90vw;
}

#pts-minigame {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid black;
    border-radius: 6px;
    height: 50px;
    background-color: antiquewhite;
    font-size: 13px;
}

#input-minigame {
    display: flex;
    position: fixed;
    top: 30%;
    left: 70%;
    flex-flow: column;
    align-content: center;
    justify-content: center
}

#input-resposta {
    border: 4px solid black;
    border-radius: 6px;
    margin-top: 30px;
    background-color: antiquewhite;
    font-family: 'Press Start 2P', monospace;
    text-align: center;
    height: 50px;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 20px;
}

#btn-advinha {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 220px;
}

#tt-minigame {
    border: none;
    border-bottom: 4px solid black;
    border-radius: 0px;
    margin-bottom: 0px;
}

#botoes-minigame {
    justify-content: center !important;
}

#continuar-minigame {
    display: none;
}

#cn-mn {
    height: 45vh !important;
    width: 35vw !important;
}

#bemvindo-minigame {
    display: block;
}

.info-pop {
    position: fixed;
    width: 70vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: antiquewhite;
    border: 4px solid black;
    border-radius: 6px;
    font-family: 'Press Start 2P', monospace;
    text-align: center;
    font-size: 225%;
    padding-bottom: 20px;
    z-index: 99999;
}

.fundo-pop {
    position: fixed;
    z-index: 9999;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.503);
}

.mnh1 {
    font-size: 35px;
    padding: 25px !important;
    border-radius: 0px !important;
    border: none !important;
    border-bottom: 4px solid black;
    border-top: 4px solid black;
}

/*-----------------------------------------Fim do jogo------------------------------------------------------------------------*/

#grupo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    width: 100%;
    flex-wrap: wrap;
    padding: 25px;
    box-sizing: border-box;
    margin-bottom: -50px;
}

#grupo img {
    width: 15%;
    height: auto;
    display: block;
}

#escolher {
    background-color: rgb(202, 50, 50);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokemonescolher {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    border: 5px solid #f1c40f;
    border-radius: 10px;
    background-color: rgb(202, 60, 70);
    box-sizing: border-box;
    margin-bottom: 35vh;
}

#pokemon-escolhido {
    width: 100%;
    height: 100%;
}

.botoesescolher {
    display: flex;
    display: none;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
    z-index: 101;
    position: fixed;
    left: 32%;
    bottom: 14vh;
    width: 100vw;
    margin: 0;
}

.botoesescolher .botao {
    padding: 12px 25px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    background-color: #f1c40f;
    color: #333;
    border: 3px solid #e67e22;
    border-radius: 10px;
    box-shadow: 0 5px 0 0 #e67e22;
}

.botoesescolher .botao:hover {
    background-color: #f39c12;
    color: white;
}

/*-------------------------------------------------login-----------------------------------------------------------*/
#nomejogador {
    border: 4px solid black;
    border-radius: 6px;
    margin-top: 30px;
    background-color: antiquewhite;
    font-family: 'Press Start 2P', monospace;
    text-align: center;
    height: 50px;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 20px;
}

#h3_login {
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 3px solid black !important;
    color: white;
}

#h3_bv {
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 3px solid black !important;
    color: white;
}

#h1_esco {
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 3px solid black !important;
    color: white;
}

#pk-escolhido {
    position: fixed;
    width: 100vw;
    height: 100%;
}

/* --------------------------------------------------------Inventarios para uso-------------------------------------------------------------- */
#inventario-fruta {
    position: fixed;
    display: flex;
    flex-flow: column;
    align-items: center;
    right: 70vw;
    top: 5vh;
    margin-left: 40px;
    margin-bottom: 60px;
    width: 35vh;
    height: 60vh;
    padding: 3px;
    border: 1px solid black;
    background-color: #d4a000;
    z-index: 99999;
}

#inventario-pokebola {
    position: fixed;
    display: flex;
    flex-flow: column;
    align-items: center;
    right: 70vw;
    top: 5vh;
    margin-left: 40px;
    margin-bottom: 60px;
    width: 35vh;
    height: 40vh;
    padding: 3px;
    border: 1px solid black;
    background-color: #d4a000;
    z-index: 99999;
}

#usar-pop {
    font-size: 150%;
}

#descricao-items {
    display: flex;
    justify-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
    border: 1px solid black;
    padding: 1%;
    border-radius: 6px;
    width: 50%;
    background-color: antiquewhite;
    font-family: 'Press Start 2P', monospace;
    font-size: 125%;
}

#bloqueio {
    background-color: transparent;
}

.img-inv2 {
    height: 5vh;
    width: 5vh;
}

.item2 {
    height: 10vh;
    width: 10vh;
    background-color: #bbaaaa;
    border: 3px solid black;
    margin-bottom: 5px;
    margin-top: 5px;
    cursor: pointer;
}

/* --------------------------------------------------------HISTORICO-------------------------------------------------------------- */
#historico {
    align-items: center;
    flex-flow: column;
    width: 100vw;
    height: 100vh;
    background-color: #f39c12;
    padding: 30px;
}

#hist-div {
    background-color: #bbaaaa;
    border: 3px solid black;
    margin-top: 30px;
    padding: 20px;
    width: 55%;
    height: 50vh;
    font-size: 20px;
    line-height: 30px;
    overflow-y: auto;
}

#btn-hist {
    margin-right: 60px;
}

/* --------------------------------------------------------CONTATOS-------------------------------------------------------------- */
#contatos {
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100vw;
    height: 100vh;
    background-color: #f39c12;
}

#divs-ctt {
    display: flex;
}

.div-devs {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    border: 3px solid black;
    margin: 10px;
    margin-bottom: 7vh;
    padding: 5px;
    width: 25vw;
    height: 70vh;
    background-color: #bbaaaa;
    font-size: 10px;
    line-height: 25px;
}

#tt-ctt {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.devs-img {
    border: 3px solid black;
    height: 25vh;
    width: 25vh;
    border-radius: 6px;
}

#btn-ctt {
    margin-right: 60px;
}